#comments {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 1em;
}

.comment {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
}

.user {
    font-style: italic;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.user::after {
    content: " said:";
    font-style: normal;
}

.date {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
}

.comment > p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    background: #EDEFF0;
    padding: 1em;
    line-height: 1.5em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.comment > p::before {
    content: "\201C";
    font-size: 3em;
    color: #CCCCCC;
}

form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EDEFF0;
    padding: 1em;
}

form > h2 {
    font-size: 1em;
}

form > label {
    font-weight: normal;
}

form > label > input {
    background: #EDEFF0;
}

textarea {
    width: 95%;
    height: 5em;
}

form > input {
    background: black;
    border: none;
    color: white;
    padding: 1em;
}