@media (max-width: 60em) {
    #related {
      display: none;
    }

    #login, #register {
        margin-bottom: 0;
    }

    body {
        display: inline;
    }
}

@media (max-width: 30em) {
    #login, #register {
        background: white;
        width: 100%;
    }

    #menu {
        background: #2A2F33;
        color: white
    }
    #menu input[type='checkbox'] + label:before {
        content:"☰";
    }
    #menu input[type='checkbox']:checked + label:before {
        content:"✕";
    }

    #menu input[type='checkbox']:checked ~ ul > li {
        height: 1em;
        padding: 1em;
    }

    #menu input[type='checkbox'] {
        display:none;
    }

    

    #menu > label {
        padding: 1em;
        font-size: 2em; 
    }

    #menu > ul {
        display: inline;
        overflow: hidden;
        text-align: left;
    }

    #menu > ul > li {
        background: white;
        border-top-style: none;
        border-left-style: solid;
        overflow: hidden;
        padding: 0em;
        padding-left: 1em;
        height: 0em;
        transition: height 0.5s, padding 0.5s;
    }
}